// app global css in SCSS form
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// HEADER
.header {
  height: 110px;
  background-color: $secondary;
  display: flex;
  align-items: center;
}
.toolbar {
  justify-content: space-around;
}
.logo-navbar {
  width: 150px;
}
.navbar {
  display: flex;
}
.labels {
  display: flex;
  gap: 25px;
  padding-top: 10px;
  padding-left: 30px;
  h6 {
    font-size: 17px;
  }
}
.heart-icon {
  margin-right: 8px;
}
